

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10px;
   height: 30px;
   margin: 10px 30px;
}
.link{
    display: flex;
gap: 30px;
list-style: none;
}
.link a{
    text-decoration: none;
}
.button{
   background-color:greenyellow;
 font-size: medium;
   border-radius: 5px;
   border: none;
   text-align: center;
}
nav li, button :hover{
    background-color: tomato;
}
.open {
 margin: 2px;
 padding: 8px;
 border: 4px;
 border-radius:10px ;
}
.button a{
    text-decoration: none;
}
.note{
    border: 3px;
    padding: 3px;
    font-style: 3px;
    background-color: greenyellow;
    border-radius: 2px;
}
.see{
    border: 4px;
    padding: 10px;
    font-style:5px ;
    border-radius: 1px;
}
.content{
    background-image: url(./assets/hero-bg.png);
    width: 1100px;
    height: 900 px ;
    text-align: center;
    border:50px;
    padding: 120px;
    font-style: bold;
}