

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10px;
   height: 30px;
   margin: 10px 30px;
}
.link{
    display: flex;
gap: 30px;
list-style: none;
}
.link a{
    text-decoration: none;
}
.button{
   background-color:greenyellow;
 font-size: medium;
   border-radius: 5px;
   border: none;
   text-align: center;
}
nav li, button :hover{
    background-color: tomato;
}
.icon-home{
 margin:10px;
 border: 10px;
 border-radius: 10px;
 padding: 4px;
 text-align: center;
}

.button a{
    text-decoration: none;
}
.note{
    border: 3px;
    padding: 3px;
    font-style: 3px;
    background-color: greenyellow;
    border-radius: 2px;
}
.see{
    border: 3px;
    padding: 6px;
    font-style:4px ;
    border-radius: 1px;
    text-decoration: none ;
}
.content{
    background-image: url(./assets/hero-bg.png);
    width: 1100px;
    height: 1050 px ;
    text-align: center;
    border:50px;
    padding: 120px;
    font-style: bold;
}
#pad{
    text-align: center;
}
.cointainer{
    
}